@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #282840;
}

body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

a {
    color: #FDD172;
}


button.primary {
    cursor: pointer;

    padding: 16px 32px;

    background-color: #ffffff;
    color: #282840;
    border-radius: 28px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}


input[type="file"] {
    display: none;
}

label {
    border: none;
    cursor: pointer;

    padding: 16px 32px;

    background-color: #FDD172;
    color: #282840;
    border-radius: 28px;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

strong {
    color: #FDD172;
}

span {
    font-weight: bold;
}

img {
    margin-left: 10px;
    width: 16px;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.submit-btn {
    display: block;
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 30px;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.upload-container {
    max-width: 800px;
    margin-top: 50%;
    margin-bottom: 50%;
}

.upload-header h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin-bottom: -10px;
}

.single-upload h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

#singleUploadForm {
    text-align: center;
}

#singleFileUploadSuccess {
    padding-top: 30px;
}

#singleFileUploadError {
    padding-top: 30px;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}